openapi: 3.2.0
info:
  title: Lucid REST Audit Logs API
  version: '1.0'
  description: The Lucid REST API provides programmatic access to manage documents, users, folders, sharing, licensing, and audit logs across the Lucid Suite (Lucidchart, Lucidspark, and Lucidscale). Authenticate via OAuth 2.0 or API key.
  contact:
    name: Lucid Developer Platform
    url: https://developer.lucid.co/
  x-documentation: https://developer.lucid.co/reference/api
servers:
- url: https://api.lucid.co
tags:
- name: Audit Logs
  description: Retrieve audit log events that record user and admin activity across the Lucid account.
paths:
  /v1/auditLogs:
    get:
      summary: Get Audit Logs
      description: Retrieves audit log events for the account. This API is exclusive to Enterprise Shield accounts. This endpoint is paginated.
      operationId: getAuditLogs
      tags:
      - Audit Logs
      security:
      - OAuth2:
        - account.audit.logs
      parameters:
      - name: from
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The timestamp from which the audit logs will be returned. Defaults to 180 days prior to the current timestamp.
        example: '2021-01-01T00:00:00Z'
      - name: to
        in: query
        required: false
        schema:
          type: string
          format: date-time
        description: The timestamp to which the logs will be returned. Defaults to the current timestamp.
        example: '2021-01-01T00:00:00Z'
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          default: 200
        description: The number of audit logs to return per request.
        example: 100
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A token used for pagination to retrieve the next page of results when polling audit logs.
        example: eyJvIjoiMjAyNC0wOS0wNFQxNzoxNDoyOS4zNjA5NzhaXzU4ODk4NTkxNCJ9
      responses:
        '200':
          description: OK. Returns an array of audit log events.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '400':
          description: Bad request. Occurs when the query parameters are invalid.
        '403':
          description: Forbidden. Occurs when the authorized token does not have permission to access audit logs.
  /v1/auditLogs/query:
    post:
      summary: Query Audit Logs
      description: Queries audit log events for the account using filter criteria specified in the request body. This API is exclusive to Enterprise Shield accounts. This endpoint is paginated.
      operationId: queryAuditLogs
      tags:
      - Audit Logs
      security:
      - OAuth2:
        - account.audit.logs
      parameters:
      - name: pageSize
        in: query
        required: false
        schema:
          type: integer
          default: 200
        description: The number of audit logs to return per request.
        example: 100
      - name: pageToken
        in: query
        required: false
        schema:
          type: string
        description: A token used for pagination to retrieve the next page of results when polling audit logs.
        example: eyJvIjoiMjAyNC0wOS0wNFQxNzoxNDoyOS4zNjA5NzhaXzU4ODk4NTkxNCJ9
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuditLogQueryRequestBody'
      responses:
        '200':
          description: OK. Returns an array of audit log events matching the query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuditLog'
        '400':
          description: Bad request. Occurs when the query parameters are invalid.
        '403':
          description: Forbidden. Occurs when the authorized token does not have permission to access audit logs.
components:
  schemas:
    AuditLog:
      type: object
      properties:
        accountId:
          type: integer
          description: The unique ID for the account.
          example: 1
        eventTimestamp:
          type: string
          format: date-time
          description: The time the audit log event occurred.
          example: '2026-06-02T17:41:20.124436108Z'
        actor:
          type: object
          description: Identifies the acting user that triggered the audit log event.
          properties:
            actorType:
              type: string
              description: The type of actor
              example: user
            actorAccountId:
              type: integer
              description: The account ID of the actor.
              example: 1
            actorEmail:
              type: string
              description: The email address of the actor.
              example: user@example.com
            actorUserId:
              type: number
              description: The user ID of the actor.
              example: 100
            actorClient:
              type:
              - string
              - 'null'
              example: Chrome/51.0.2704.103 Safari/537.36
            actorIsExternal:
              type: boolean
              description: Whether the actor is external to the account.
              example: false
            actorIp:
              type: string
              description: The IP address of the actor. Field is omitted if the actor is the system user.
              example: 203.0.113.42
        event:
          type: object
          description: Audit event for when a document is opened.
          properties:
            eventType:
              type: string
              description: The event type.
              example: content.document.documentOpened
            documentId:
              type: string
              format: uuid
              description: The ID of the document opened.
              example: 110808fd-4553-4316-bccf-4f25ff59a532
            product:
              type: string
              description: The product of the document.
              example: lucidchart
            documentOpenedMethod:
              type: object
              description: The method used to open the document.
              properties:
                methodType:
                  type: string
                  description: The method used to open the document.
                  example: InApp
        target:
          type: array
          description: A list of objects identifying the target of the audit event.
          items:
            type: object
            properties:
              targetType:
                type: string
                description: The type of the target.
                example: userTarget
              targetId:
                oneOf:
                - type: number
                - type: string
                description: 'Unique identifier of the target. The type depends on `targetType`: numeric for `userTarget`, `folderTarget`, `groupTarget`, `teamTarget`, and `repositoryTarget`; a UUID string for `documentTarget` and `assetTarget`; an arbitrary string for `emailInvitationTarget` and `restApiTarget`. Absent for `unknownTarget`.'
                example: 100
              displayName:
                type: string
                description: The display name of the target.
                example: User Name
              userEmail:
                type: string
                format: email
                description: The email of the target user.
                example: user@example.com
              isExternal:
                type: boolean
                description: Whether the target is external to the organization.
                example: false
        flowId:
          type:
          - string
          - 'null'
          description: A flow id identifier.
          example: 55ce2349da62cba
    AuditLogQueryRequestBody:
      type: object
      properties:
        from:
          type: string
          format: date-time
          description: The start date for the audit log query range.
          example: '2024-01-01T00:00:00Z'
        to:
          type: string
          format: date-time
          description: The end date for the audit log query range.
          example: '2024-01-31T23:59:59Z'
        userIds:
          type: array
          items:
            type: integer
          description: Array of user IDs who initiated the logged events.
          example:
          - 1111111
          - 2222222
          - 123123123
        eventTypes:
          type: array
          items:
            type: string
          description: Array of event types to filter the audit logs.
          example:
          - content.document.documentFolderEntrypointUpdated
          - login.user.successfulUserLogin
        actorIsExternal:
          type: boolean
          description: Whether the actor is external to the organization.
          example: true
        actorTypes:
          type: array
          items:
            type: string
          description: Array of actor types to filter the audit logs, see 'Actors and Targets' for more details.
          example:
          - Anonymous User
          - Normal User
          - Internal User
          - Token User
          - Unknown User
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://lucid.app/oauth2/authorize
          tokenUrl: https://api.lucid.co/oauth2/token
          refreshUrl: https://api.lucid.co/oauth2/token
          scopes:
            account.audit.logs: View audit logs on your account.
            account.info: View basic information about your account (e.g., account ID and account name) .
            account.user: Create, view, edit, and delete users on your account.
            account.user:readonly: View users on your account.
            account.users:admin.readonly: View all users and their roles on your account.
            account.user.transfercontent: Transfer ownership of a user's resources to another user on your account.
            account.settings:readonly: View settings on your account.
            account.legalhold: Create, view, and expire legal holds on your account.
            account.legalhold:readonly: View legal holds on your account.
            account.legalhold.users: Manage legal hold users on your account.
            account.legalhold.users:readonly: View legal hold users on your account.
            folder: Create, view, edit, share, and delete your folders. Organize your folders and their contents.
            folder:readonly: View any of your folders and list their contents.
            folder:admin: Perform admin actions on folders belonging to the account.
            folder:admin.readonly: View all folders belonging to the account with admin permissions.
            invitation: Accept document and folder share links.
            invitation.accept: Accept document and folder share links.
            cloud.credential: Manage cloud credentials.
            cloud.credential:readonly: View cloud credentials.
            cloud.datasource: Manage cloud data sources.
            cloud.datasource:readonly: View cloud data sources.
            cloud.model: Manage cloud models.
            repository: Manage repositories.
            repository:readonly: View repositories.
            repository:admin: Perform admin actions on repositories.
            lucid.document.content: Create, view, edit, and delete any Lucid document accessible by the user.
            lucid.document.content:readonly: View and download any Lucid document accessible by the user.
            lucid.document.content:admin: Perform admin actions on Lucid documents belonging to the account.
            lucid.document.content:admin.readonly: View all Lucid documents belonging to the account with admin permissions.
            lucid.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucid document accessible by the user.
            lucid.document.content.share:readonly: View document collaborators, embeds, and share links for any Lucid document accessible by the user.
            lucid.document.content.share.collaborator: Create, view, edit, and delete document collaborators for any Lucid document accessible by the user.
            lucid.document.content.share.collaborator:readonly: View document collaborators for any Lucid document accessible by the user.
            lucid.document.content.share.embed: Create, view, edit, and delete document embeds for any Lucid document accessible by the user.
            lucid.document.content.share.embed:readonly: View document embeds for any Lucid document accessible by the user.
            lucid.document.content.share.link: Create, view, edit, and delete share links for any Lucid document accessible by the user.
            lucid.document.content.share.link:readonly: View share links for any Lucid document accessible by the user.
            lucid.document.storage:admin.readonly: Perform admin actions backing up Lucid documents belonging to the account.
            lucid.document.app: View, edit, create, and manage folders and documents within an app.
            lucid.document.app.folder: Create, view, edit, and manage any Lucid document within its app-specific folder.
            lucid.document.app.picker: View, edit, and manage any Lucid document selected within an app.
            lucid.document.app.picker:readonly: View and download any Lucid document selected within an app.
            lucid.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucid document selected within an app.
            lucid.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucid document selected within an app.
            lucid.document.app.picker.share.collaborator: Create, view, edit, and delete document collaborators for any Lucid document selected within an app.
            lucid.document.app.picker.share.collaborator:readonly: View document collaborators for any Lucid document selected within an app.
            lucid.document.app.picker.share.embed: Create, view, edit, and delete document embeds for any Lucid document selected within an app.
            lucid.document.app.picker.share.embed:readonly: View document embeds for any Lucid document selected within an app.
            lucid.document.app.picker.share.link: Create, view, edit, and delete share links for any Lucid document selected within an app.
            lucid.document.app.picker.share.link:readonly: View share links for any Lucid document selected within an app.
            lucid.document.accessRequest: Request access to Lucid documents.
            licenses:admin: Perform admin actions on licenses and subscriptions belonging to the account.
            licenses:admin.readonly: View licenses and subscriptions belonging to the account with admin permissions.
            teams: Create, view, and edit, archive, and restore any teams on your account. Control which users belong to teams.
            teams:readonly: View any teams on your account and list which users belong to them.
            teams:admin: Manage teams on your account.
            lucidchart.document.app: View, edit, and manage any Lucidchart document selected for this third-party application. Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            lucidchart.document.app.folder: Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            lucidchart.document.app.picker: View, edit, and manage any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker:readonly: View and download any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker.share.collaborator: Create, view, edit, and delete collaborators and invitations of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.collaborator:readonly: View collaborators and invitations of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.embed: Create, view, edit, and delete embeds of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.embed:readonly: View embeds of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.link: Create, view, edit, and delete the third party application's share links of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.link:readonly: View the third party application's share links of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.content: Create, view, edit, and delete any Lucidchart document on your account.
            lucidchart.document.content:readonly: View and download any Lucidchart document on your account.
            lucidchart.document.content:admin: Perform admin actions on Lucidchart documents belonging to the account.
            lucidchart.document.content:admin.readonly: View all Lucidchart documents belonging to the account with admin permissions.
            lucidchart.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any of your Lucidchart documents.
            lucidchart.document.content.share:readonly: View document collaborators, embeds, and share links for any of your Lucidchart documents.
            lucidchart.document.content.share.collaborator: Create, view, edit, and delete collaborators and invitations for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.collaborator:readonly: View collaborators and invitations for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.embed: Create, view, edit, and delete embeds for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.embed:readonly: View embeds for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.link: Create, view, edit, and delete the third party application's share links for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.link:readonly: View the third party application's share links for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.storage:admin.readonly: Perform admin actions backing up Lucidchart documents belonging to the account.
            lucidchart.document.accessRequest: Request access to Lucidchart documents.
            lucidspark.document.app: View, edit, and manage any Lucidspark board selected for this third-party application. Create, view, edit, and manage any Lucidspark board within its app-specific folder.
            lucidspark.document.app.folder: Create, view, edit, and manage any Lucidspark board within its app-specific folder.
            lucidspark.document.app.picker: View, edit, and manage any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker:readonly: View and download any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker.share.collaborator: Create, view, edit, and delete collaborators and invitations of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.collaborator:readonly: View collaborators and invitations of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.embed: Create, view, edit, and delete embeds of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.embed:readonly: View embeds of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.link: Create, view, edit, and delete the third party application's share links of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.link:readonly: View the third party application's share links of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.content: Create, view, edit, and delete any Lucidspark board on your account.
            lucidspark.document.content:readonly: View and download any Lucidspark board on your account.
            lucidspark.document.content:admin: Perform admin actions on Lucidspark boards belonging to the account.
            lucidspark.document.content:admin.readonly: View all Lucidspark boards belonging to the account with admin permissions.
            lucidspark.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any of your Lucidspark boards.
            lucidspark.document.content.share:readonly: View document collaborators, embeds, and share links for any of your Lucidspark boards.
            lucidspark.document.content.share.collaborator: Create, view, edit, and delete collaborators and invitations for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.collaborator:readonly: View collaborators and invitations for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.embed: Create, view, edit, and delete embeds for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.embed:readonly: View embeds for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.link: Create, view, edit, and delete the third party application's share links for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.link:readonly: View the third party application's share links for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.storage:admin.readonly: Perform admin actions backing up Lucidspark boards belonging to the account.
            lucidspark.document.accessRequest: Request access to Lucidspark boards.
            lucidscale.document.app: View, edit, and manage any Lucidscale model selected for this third-party application. Create, view, edit, and manage any Lucidscale model within its app-specific folder.
            lucidscale.document.app.folder: Create, view, edit, and manage any Lucidscale model within its app-specific folder.
            lucidscale.document.app.picker: View, edit, and manage any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker:readonly: View and download any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker.share.collaborator: Create, view, edit, and delete collaborators and invitations of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.collaborator:readonly: View collaborators and invitations of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.embed: Create, view, edit, and delete embeds of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.embed:readonly: View embeds of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.link: Create, view, edit, and delete the third party application's share links of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.link:readonly: View the third party application's share links of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.content: Create, view, edit, and delete any Lucidscale model on your account.
            lucidscale.document.content:readonly: View and download any Lucidscale model on your account.
            lucidscale.document.content:admin: Perform admin actions on Lucidscale models belonging to the account.
            lucidscale.document.content:admin.readonly: View all Lucidscale models belonging to the account with admin permissions.
            lucidscale.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any of your Lucidscale models.
            lucidscale.document.content.share:readonly: View document collaborators, embeds, and share links for any of your Lucidscale models.
            lucidscale.document.content.share.collaborator: Create, view, edit, and delete collaborators and invitations for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.collaborator:readonly: View collaborators and invitations for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.embed: Create, view, edit, and delete embeds for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.embed:readonly: View embeds for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.link: Create, view, edit, and delete the third party application's share links for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.link:readonly: View the third party application's share links for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.storage:admin.readonly: Perform admin actions backing up Lucidscale models belonging to the account.
            lucidscale.document.accessRequest: Request access to Lucidscale models.
            offline_access: Continue to perform authorized actions when you're not logged in (required to refresh tokens).
            user.profile: Allow applications to view basic information about you (e.g., full name, username, and email).
            document.app: View, edit, and manage any Lucidchart document selected for this third-party application. Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            document.app.folder: Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            document.app.picker: View, edit, and manage any Lucidchart document selected for this third-party application.
            document.app.picker:readonly: View and download any Lucidchart document selected for this third-party application.
            document.content: Create, view, edit, and delete any Lucidchart document on your account.
            document.content:readonly: View and download any Lucidchart document on your account.
    ApiKey:
      type: http
      scheme: bearer
x-harvest:
  harvested: '2026-08-01'
  method: searched
  source: https://lucid-developer-docs.readme.io/mcp
  note: 'Assembled operation-by-operation from Lucid''s own documentation MCP server (tools list-endpoints + get-endpoint), which returns verbatim OpenAPI 3.0.3 fragments out of the spec Lucid uploaded to its ReadMe hub (/branches/1.4/apis/lucid-rest-api.json). Paths, operations, parameters, request bodies, responses, components and securitySchemes are provider content, unmodified. Only the info block is ours: ReadMe''s per-endpoint fragments omit info, so title/description are copied verbatim from the provider''s own list-specs description for this spec.'
