openapi: 3.2.0
info:
  title: Lucid SCIM Service Provider Config API
  version: '1.0'
  description: The Lucid SCIM 2.0 API enables identity providers to automatically provision and deprovision users and groups in a Lucid account. Supports standard SCIM operations for user lifecycle management.
  contact:
    name: Lucid Developer Platform
    url: https://developer.lucid.co/
  x-documentation: https://developer.lucid.co/reference/overview-scim
servers:
- url: https://users.lucid.app/scim/v2
security:
- Bearer: []
tags:
- name: Service Provider Config
  description: Retrieve the SCIM service provider configuration, describing supported operations, authentication schemes, and bulk/filter capabilities.
paths:
  /ServiceProviderConfig:
    get:
      summary: Get Service Provider Config
      description: Get the service provider configuration.
      operationId: getServiceProviderConfig
      tags:
      - Service Provider Config
      responses:
        '200':
          description: OK. Returns a ServiceProviderConfig.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceProviderConfig'
        '401':
          description: Unauthorized. Occurs if the bearer token is invalid.
components:
  schemas:
    AuthenticationScheme:
      type: object
      properties:
        name:
          type: string
          example: OAuth Bearer Token
        description:
          type: string
          example: Authentication scheme using the OAuth Bearer Token Standard
        specUri:
          type: string
          example: http://www.rfc-editor.org/info/rfc6750
        documentationUri:
          type: string
          example: https://developer.lucid.co/reference/overview-scim#bearer-token-authorization
        type:
          type: string
          example: oauthbearertoken
        primary:
          type: boolean
          example: true
    ServiceProviderConfig:
      type: object
      properties:
        schemas:
          type: array
          items:
            type: string
          example:
          - urn:ietf:params:scim:schemas:core:2.0:ServiceProviderConfig
        documentationUri:
          type: string
          description: Link to Lucid documentation.
          example: https://lucidco.zendesk.com/hc/articles/360049427352-SCIM-Overview
        patch:
          type: object
          description: Describes configuration of the PATCH endpoint.
          example:
            supported: true
        bulk:
          type: object
          description: Describes configuration of the bulk operations endpoint.
          example:
            supported: false
        filter:
          type: object
          description: Describes configuration of the "filter" option on GET endpoints.
          example:
            supported: true
            maxResults: 100
        changePassword:
          type: object
          description: Describes whether SCIM can be used to change a password.
          example:
            supported: false
        sort:
          type: object
          description: Describes configuration of the "sort" option on GET endpoints.
          example:
            supported: false
        etag:
          type: object
          description: Describes etag configuration.
          example:
            supported: true
        authenticationSchemes:
          type: array
          items:
            $ref: '#/components/schemas/AuthenticationScheme'
        meta:
          type: object
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
x-harvest:
  harvested: '2026-08-01'
  method: searched
  source: https://lucid-developer-docs.readme.io/mcp
  note: 'Assembled operation-by-operation from Lucid''s own documentation MCP server (tools list-endpoints + get-endpoint), which returns verbatim OpenAPI 3.0.3 fragments out of the spec Lucid uploaded to its ReadMe hub (/branches/1.4/apis/lucid-scim-api.json). Paths, operations, parameters, request bodies, responses, components and securitySchemes are provider content, unmodified. Only the info block is ours: ReadMe''s per-endpoint fragments omit info, so title/description are copied verbatim from the provider''s own list-specs description for this spec.'
