openapi: 3.2.0
info:
  title: Lucid REST Embedding Utils API
  version: '1.0'
  description: The Lucid REST API provides programmatic access to manage documents, users, folders, sharing, licensing, and audit logs across the Lucid Suite (Lucidchart, Lucidspark, and Lucidscale). Authenticate via OAuth 2.0 or API key.
  contact:
    name: Lucid Developer Platform
    url: https://developer.lucid.co/
  x-documentation: https://developer.lucid.co/reference/api
servers:
- url: https://api.lucid.co
tags:
- name: Embedding Utils
  description: Create, retrieve, delete, and change the version of embed instances on a document.
paths:
  /v1/documents/{documentId}/embeds/{embedId}:
    get:
      summary: Get Document Embed
      description: Retrieves limited metadata about the embedded document. If the embed is a snapshot-version embed, the metadata will be drawn from the state of the document at the time that the snapshot was created.
      operationId: getEmbedInformation
      tags:
      - Embedding Utils
      security:
      - OAuth2:
        - lucidchart.document.content.share.embed:readonly
        - lucidchart.document.app.picker.share.embed:readonly
        - lucidscale.document.content.share.embed:readonly
        - lucidscale.document.app.picker.share.embed:readonly
        - lucidspark.document.content.share.embed:readonly
        - lucidspark.document.app.picker.share.embed:readonly
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the embedded document to retrieve.
        example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
      - name: embedId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document embed to retrieve.
        example: ec890631-c150-461c-992f-b96533aa05f4
      responses:
        '200':
          description: OK. Returns a Document Embed Resource containing information about the requested document embed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedInformation'
        '403':
          description: Forbidden. Occurs when the authorized token does not have permission to access the requested document or embed, or when the requested document or embed does not exist.
    delete:
      summary: Delete Document Embed
      description: Deletes an existing document embed. This will cause the document viewer to fail when attempting to load this document embed.
      operationId: deleteEmbed
      tags:
      - Embedding Utils
      security:
      - OAuth2:
        - account.info
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the embedded document to retrieve.
        example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
      - name: embedId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document embed to retrieve.
        example: 298f9a4a-09b5-440c-b95e-4d5c2d1aaf49
      responses:
        '204':
          description: OK. Occurs when the document embed is deleted successfully.
        '403':
          description: Forbidden. Occurs when the access token isn't allowed to delete the embed.
  /v1/documents/{documentId}/embeds/{embedId}/document:
    get:
      summary: Get Document Embed Document
      description: Retrieves limited metadata about an embedded document. If the embed is a snapshot-version embed, the metadata will be drawn from the state of the document at the time that the snapshot was created.
      operationId: getEmbedDocument
      tags:
      - Embedding Utils
      security:
      - OAuth2:
        - lucidchart.document.content.share.embed:readonly
        - lucidchart.document.app.picker.share.embed:readonly
        - lucidscale.document.content.share.embed:readonly
        - lucidscale.document.app.picker.share.embed:readonly
        - lucidspark.document.content.share.embed:readonly
        - lucidspark.document.app.picker.share.embed:readonly
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the embedded document to retrieve.
        example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
      - name: embedId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document embed to retrieve.
        example: ec890631-c150-461c-992f-b96533aa05f4
      responses:
        '200':
          description: OK. Returns a Document Embed Resource containing information about the requested document embed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedDocument'
        '403':
          description: Forbidden. Occurs when the authorized token does not have permission to access the requested document or embed, or when the requested document or embed does not exist.
  /v1/documents/{id}/embeds:
    post:
      summary: Create Document Embed
      description: Creates an embed resource associated with a particular document. The request must be authenticated with an OAuth 2.0 token that has access to the document being embedded.
      operationId: createEmbed
      tags:
      - Embedding Utils
      security:
      - OAuth2:
        - lucidchart.document.content.share.embed
        - lucidchart.document.app.picker.share.embed
        - lucidscale.document.content.share.embed
        - lucidscale.document.app.picker.share.embed
        - lucidspark.document.content.share.embed
        - lucidspark.document.app.picker.share.embed
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document to be embedded.
        example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                embedVersion:
                  type: string
                  enum:
                  - latest-version
                  - snapshot-version
                  example: snapshot-version
                  description: Determines what version of the document will be loaded in the document viewer.
              required:
              - embedVersion
      responses:
        '201':
          description: OK. Returns a Document Embed Resource containing information about the newly created document embed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedInformation'
        '400':
          description: Bad Request. Occurs if the embed version provided in the request body is invalid.
        '403':
          description: Forbidden. Occurs when the access token isn't allowed to create an embed for this document.
  /v1/documents/{documentId}/embeds/{embedId}/changeVersion:
    post:
      summary: Change Document Embed Version
      description: Updates the version type of an existing document embed. When called with an embedVersion of "snapshot-version", the endpoint associates the existing embed with a snapshot of the document's current state. Updating an embed's version to snapshot-version cannot be reversed.
      operationId: changeEmbedVersion
      tags:
      - Embedding Utils
      security:
      - OAuth2:
        - lucidchart.document.content.share.embed
        - lucidchart.document.app.picker.share.embed
        - lucidscale.document.content.share.embed
        - lucidscale.document.app.picker.share.embed
        - lucidspark.document.content.share.embed
        - lucidspark.document.app.picker.share.embed
      parameters:
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the embedded document to retrieve.
        example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
      - name: embedId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document embed to retrieve.
        example: 298f9a4a-09b5-440c-b95e-4d5c2d1aaf49
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                embedVersion:
                  type: string
                  enum:
                  - latest-version
                  - snapshot-version
                  example: snapshot-version
                  description: Determines what version of the document will be loaded in the document viewer.
              required:
              - embedVersion
      responses:
        '200':
          description: OK. Returns a Document Embed Resource containing information about the updated document embed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbedInformation'
        '400':
          description: Bad Request. Occurs if the embed version provided in the request body is invalid.
        '403':
          description: Forbidden. Occurs when the access token isn't allowed to change the embed version.
components:
  schemas:
    EmbedInformation:
      type: object
      properties:
        embedId:
          type: string
          format: uuid
          example: ec890631-c150-461c-992f-b96533aa05f4
          description: Unique identifier of the embed.
        documentId:
          type: string
          format: uuid
          example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
          description: Unique identifier of the document.
        embedVersion:
          type: string
          example: snapshot-version
          description: The version of the embed.
        created:
          type: string
          format: date
          example: '2021-10-01T20:49:36.169Z'
          description: When the embed was created.
        modified:
          type: string
          format: date
          example: '2021-10-01T20:49:36.169Z'
          description: When the embed was last modified.
      description: Information about the requested Embed.
    EmbedDocument:
      type: object
      properties:
        embedId:
          type: string
          format: uuid
          example: ec890631-c150-461c-992f-b96533aa05f4
          description: Unique identifier of the embed.
        documentId:
          type: string
          format: uuid
          example: 001bd56d-1b10-4196-8ac6-45e3c22bd1c6
          description: Unique identifier of the document.
        pageCount:
          type: number
          example: 5
          description: The number of pages on the document
        title:
          type: string
          example: Documentation example document
          description: The title of the document.
      description: Information about the docuement correlated to the requested Embed.
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://lucid.app/oauth2/authorize
          tokenUrl: https://api.lucid.co/oauth2/token
          refreshUrl: https://api.lucid.co/oauth2/token
          scopes:
            account.audit.logs: View audit logs on your account.
            account.info: View basic information about your account (e.g., account ID and account name) .
            account.user: Create, view, edit, and delete users on your account.
            account.user:readonly: View users on your account.
            account.users:admin.readonly: View all users and their roles on your account.
            account.user.transfercontent: Transfer ownership of a user's resources to another user on your account.
            account.settings:readonly: View settings on your account.
            account.legalhold: Create, view, and expire legal holds on your account.
            account.legalhold:readonly: View legal holds on your account.
            account.legalhold.users: Manage legal hold users on your account.
            account.legalhold.users:readonly: View legal hold users on your account.
            folder: Create, view, edit, share, and delete your folders. Organize your folders and their contents.
            folder:readonly: View any of your folders and list their contents.
            folder:admin: Perform admin actions on folders belonging to the account.
            folder:admin.readonly: View all folders belonging to the account with admin permissions.
            invitation: Accept document and folder share links.
            invitation.accept: Accept document and folder share links.
            cloud.credential: Manage cloud credentials.
            cloud.credential:readonly: View cloud credentials.
            cloud.datasource: Manage cloud data sources.
            cloud.datasource:readonly: View cloud data sources.
            cloud.model: Manage cloud models.
            repository: Manage repositories.
            repository:readonly: View repositories.
            repository:admin: Perform admin actions on repositories.
            lucid.document.content: Create, view, edit, and delete any Lucid document accessible by the user.
            lucid.document.content:readonly: View and download any Lucid document accessible by the user.
            lucid.document.content:admin: Perform admin actions on Lucid documents belonging to the account.
            lucid.document.content:admin.readonly: View all Lucid documents belonging to the account with admin permissions.
            lucid.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucid document accessible by the user.
            lucid.document.content.share:readonly: View document collaborators, embeds, and share links for any Lucid document accessible by the user.
            lucid.document.content.share.collaborator: Create, view, edit, and delete document collaborators for any Lucid document accessible by the user.
            lucid.document.content.share.collaborator:readonly: View document collaborators for any Lucid document accessible by the user.
            lucid.document.content.share.embed: Create, view, edit, and delete document embeds for any Lucid document accessible by the user.
            lucid.document.content.share.embed:readonly: View document embeds for any Lucid document accessible by the user.
            lucid.document.content.share.link: Create, view, edit, and delete share links for any Lucid document accessible by the user.
            lucid.document.content.share.link:readonly: View share links for any Lucid document accessible by the user.
            lucid.document.storage:admin.readonly: Perform admin actions backing up Lucid documents belonging to the account.
            lucid.document.app: View, edit, create, and manage folders and documents within an app.
            lucid.document.app.folder: Create, view, edit, and manage any Lucid document within its app-specific folder.
            lucid.document.app.picker: View, edit, and manage any Lucid document selected within an app.
            lucid.document.app.picker:readonly: View and download any Lucid document selected within an app.
            lucid.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucid document selected within an app.
            lucid.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucid document selected within an app.
            lucid.document.app.picker.share.collaborator: Create, view, edit, and delete document collaborators for any Lucid document selected within an app.
            lucid.document.app.picker.share.collaborator:readonly: View document collaborators for any Lucid document selected within an app.
            lucid.document.app.picker.share.embed: Create, view, edit, and delete document embeds for any Lucid document selected within an app.
            lucid.document.app.picker.share.embed:readonly: View document embeds for any Lucid document selected within an app.
            lucid.document.app.picker.share.link: Create, view, edit, and delete share links for any Lucid document selected within an app.
            lucid.document.app.picker.share.link:readonly: View share links for any Lucid document selected within an app.
            lucid.document.accessRequest: Request access to Lucid documents.
            licenses:admin: Perform admin actions on licenses and subscriptions belonging to the account.
            licenses:admin.readonly: View licenses and subscriptions belonging to the account with admin permissions.
            teams: Create, view, and edit, archive, and restore any teams on your account. Control which users belong to teams.
            teams:readonly: View any teams on your account and list which users belong to them.
            teams:admin: Manage teams on your account.
            lucidchart.document.app: View, edit, and manage any Lucidchart document selected for this third-party application. Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            lucidchart.document.app.folder: Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            lucidchart.document.app.picker: View, edit, and manage any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker:readonly: View and download any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucidchart document selected for this third-party application.
            lucidchart.document.app.picker.share.collaborator: Create, view, edit, and delete collaborators and invitations of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.collaborator:readonly: View collaborators and invitations of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.embed: Create, view, edit, and delete embeds of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.embed:readonly: View embeds of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.link: Create, view, edit, and delete the third party application's share links of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.app.picker.share.link:readonly: View the third party application's share links of any Lucidchart document on your team or enterprise account selected for the third-party application.
            lucidchart.document.content: Create, view, edit, and delete any Lucidchart document on your account.
            lucidchart.document.content:readonly: View and download any Lucidchart document on your account.
            lucidchart.document.content:admin: Perform admin actions on Lucidchart documents belonging to the account.
            lucidchart.document.content:admin.readonly: View all Lucidchart documents belonging to the account with admin permissions.
            lucidchart.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any of your Lucidchart documents.
            lucidchart.document.content.share:readonly: View document collaborators, embeds, and share links for any of your Lucidchart documents.
            lucidchart.document.content.share.collaborator: Create, view, edit, and delete collaborators and invitations for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.collaborator:readonly: View collaborators and invitations for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.embed: Create, view, edit, and delete embeds for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.embed:readonly: View embeds for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.link: Create, view, edit, and delete the third party application's share links for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.content.share.link:readonly: View the third party application's share links for any of your Lucidchart documents on your team or enterprise account.
            lucidchart.document.storage:admin.readonly: Perform admin actions backing up Lucidchart documents belonging to the account.
            lucidchart.document.accessRequest: Request access to Lucidchart documents.
            lucidspark.document.app: View, edit, and manage any Lucidspark board selected for this third-party application. Create, view, edit, and manage any Lucidspark board within its app-specific folder.
            lucidspark.document.app.folder: Create, view, edit, and manage any Lucidspark board within its app-specific folder.
            lucidspark.document.app.picker: View, edit, and manage any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker:readonly: View and download any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucidspark board selected for this third-party application.
            lucidspark.document.app.picker.share.collaborator: Create, view, edit, and delete collaborators and invitations of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.collaborator:readonly: View collaborators and invitations of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.embed: Create, view, edit, and delete embeds of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.embed:readonly: View embeds of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.link: Create, view, edit, and delete the third party application's share links of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.app.picker.share.link:readonly: View the third party application's share links of any Lucidspark board on your team or enterprise account selected for the third-party application.
            lucidspark.document.content: Create, view, edit, and delete any Lucidspark board on your account.
            lucidspark.document.content:readonly: View and download any Lucidspark board on your account.
            lucidspark.document.content:admin: Perform admin actions on Lucidspark boards belonging to the account.
            lucidspark.document.content:admin.readonly: View all Lucidspark boards belonging to the account with admin permissions.
            lucidspark.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any of your Lucidspark boards.
            lucidspark.document.content.share:readonly: View document collaborators, embeds, and share links for any of your Lucidspark boards.
            lucidspark.document.content.share.collaborator: Create, view, edit, and delete collaborators and invitations for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.collaborator:readonly: View collaborators and invitations for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.embed: Create, view, edit, and delete embeds for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.embed:readonly: View embeds for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.link: Create, view, edit, and delete the third party application's share links for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.content.share.link:readonly: View the third party application's share links for any of your Lucidspark boards on your team or enterprise account.
            lucidspark.document.storage:admin.readonly: Perform admin actions backing up Lucidspark boards belonging to the account.
            lucidspark.document.accessRequest: Request access to Lucidspark boards.
            lucidscale.document.app: View, edit, and manage any Lucidscale model selected for this third-party application. Create, view, edit, and manage any Lucidscale model within its app-specific folder.
            lucidscale.document.app.folder: Create, view, edit, and manage any Lucidscale model within its app-specific folder.
            lucidscale.document.app.picker: View, edit, and manage any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker:readonly: View and download any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker.share: Create, view, edit, and delete document collaborators, embeds, and share links for any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker.share:readonly: View document collaborators, embeds, and share links for any Lucidscale model selected for this third-party application.
            lucidscale.document.app.picker.share.collaborator: Create, view, edit, and delete collaborators and invitations of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.collaborator:readonly: View collaborators and invitations of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.embed: Create, view, edit, and delete embeds of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.embed:readonly: View embeds of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.link: Create, view, edit, and delete the third party application's share links of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.app.picker.share.link:readonly: View the third party application's share links of any Lucidscale model on your team or enterprise account selected for the third-party application.
            lucidscale.document.content: Create, view, edit, and delete any Lucidscale model on your account.
            lucidscale.document.content:readonly: View and download any Lucidscale model on your account.
            lucidscale.document.content:admin: Perform admin actions on Lucidscale models belonging to the account.
            lucidscale.document.content:admin.readonly: View all Lucidscale models belonging to the account with admin permissions.
            lucidscale.document.content.share: Create, view, edit, and delete document collaborators, embeds, and share links for any of your Lucidscale models.
            lucidscale.document.content.share:readonly: View document collaborators, embeds, and share links for any of your Lucidscale models.
            lucidscale.document.content.share.collaborator: Create, view, edit, and delete collaborators and invitations for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.collaborator:readonly: View collaborators and invitations for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.embed: Create, view, edit, and delete embeds for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.embed:readonly: View embeds for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.link: Create, view, edit, and delete the third party application's share links for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.content.share.link:readonly: View the third party application's share links for any of your Lucidscale models on your team or enterprise account.
            lucidscale.document.storage:admin.readonly: Perform admin actions backing up Lucidscale models belonging to the account.
            lucidscale.document.accessRequest: Request access to Lucidscale models.
            offline_access: Continue to perform authorized actions when you're not logged in (required to refresh tokens).
            user.profile: Allow applications to view basic information about you (e.g., full name, username, and email).
            document.app: View, edit, and manage any Lucidchart document selected for this third-party application. Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            document.app.folder: Create, view, edit, and manage any Lucidchart document within its app-specific folder.
            document.app.picker: View, edit, and manage any Lucidchart document selected for this third-party application.
            document.app.picker:readonly: View and download any Lucidchart document selected for this third-party application.
            document.content: Create, view, edit, and delete any Lucidchart document on your account.
            document.content:readonly: View and download any Lucidchart document on your account.
    ApiKey:
      type: http
      scheme: bearer
x-harvest:
  harvested: '2026-08-01'
  method: searched
  source: https://lucid-developer-docs.readme.io/mcp
  note: 'Assembled operation-by-operation from Lucid''s own documentation MCP server (tools list-endpoints + get-endpoint), which returns verbatim OpenAPI 3.0.3 fragments out of the spec Lucid uploaded to its ReadMe hub (/branches/1.4/apis/lucid-rest-api.json). Paths, operations, parameters, request bodies, responses, components and securitySchemes are provider content, unmodified. Only the info block is ours: ReadMe''s per-endpoint fragments omit info, so title/description are copied verbatim from the provider''s own list-specs description for this spec.'
