openapi: 3.0.3
info:
  title: Lucid REST API
  version: '1.0'
  description: The Lucid REST API provides programmatic access to manage documents, users, folders, sharing,
    licensing, and audit logs across the Lucid Suite (Lucidchart, Lucidspark, and Lucidscale). Authenticate
    via OAuth 2.0 or API key.
  contact:
    name: Lucid Developer Platform
    url: https://developer.lucid.co/
  x-documentation: https://developer.lucid.co/reference/api
x-harvest:
  harvested: '2026-08-01'
  method: searched
  source: https://lucid-developer-docs.readme.io/mcp
  note: 'Assembled operation-by-operation from Lucid''s own documentation MCP server (tools list-endpoints
    + get-endpoint), which returns verbatim OpenAPI 3.0.3 fragments out of the spec Lucid uploaded to
    its ReadMe hub (/branches/1.4/apis/lucid-rest-api.json). Paths, operations, parameters, request bodies,
    responses, components and securitySchemes are provider content, unmodified. Only the info block is
    ours: ReadMe''s per-endpoint fragments omit info, so title/description are copied verbatim from the
    provider''s own list-specs description for this spec.'
servers:
- url: https://api.lucid.co
tags:
- name: OAuth 2.0 Tokens
  description: Create, refresh, introspect, and revoke OAuth 2.0 access tokens used to authenticate API
    requests on behalf of a user.
- name: Accounts
  description: Retrieve information about the authenticated Lucid account.
- name: Document Access
  description: Create, import, copy, retrieve, update, search, export, and trash documents across the
    Lucid Suite, and access their contents.
- name: Legal Holds
  description: Create and manage legal holds on a Lucid account. Legal holds prevent documents from being
    permanently deleted for users placed on hold.
- name: Documents Collaboration
  description: Manage user and team collaborator access on individual documents, including granting, updating,
    and revoking collaboration roles.
- name: Folders Collaboration
  description: Manage user, group, and team collaborator access on folders, including granting, updating,
    and revoking collaboration roles.
- name: Document Embedding
  description: Generate session tokens and render the embedded viewer iframe used to display Lucid documents
    in external applications.
- name: Folders
  description: Create, retrieve, update, search, trash, and restore folders. Includes listing folder contents
    and root folder navigation.
- name: Documents Sharing
  description: Create, retrieve, update, and delete share links for documents to control external access.
- name: Folders Sharing
  description: Create, retrieve, update, and delete share links for folders to control external access.
- name: Transfer Content
  description: Transfer ownership of a user's documents, folders, custom shape libraries, and Lucidscale
    objects to another user within the same account.
- name: Users
  description: Retrieve, create, and search for users within the authenticated account. Includes user
    profile access.
- name: Unfurling
  description: Retrieve metadata for Lucid document links to power rich previews, and serve direct iframe
    embeds for Lucid documents in external applications.
- name: Embedding Utils
  description: Create, retrieve, delete, and change the version of embed instances on a document.
- name: Document Picker
  description: Generate tokens and render an embedded document picker that lets users select Lucid documents
    from within your application.
- name: Audit Logs
  description: Retrieve audit log events that record user and admin activity across the Lucid account.
- name: Teams
  description: Create, retrieve, update, archive, and restore teams. Manage team membership by adding
    and removing users.
- name: Cloud
  description: Manage cloud infrastructure credentials, data sources, and architecture diagrams for AWS,
    Azure, and Google Cloud.
- name: Repositories
  description: Create and manage shared document repositories. Control repository membership by adding
    and removing users and groups.
- name: Document Comments
  description: Retrieve comment threads on a document, list comments within a thread, and post new comments
    to an existing thread.
- name: Subscriptions
  description: List and retrieve product subscriptions on the account.
- name: Licenses
  description: View and manage product licenses assigned to users within a subscription.
paths:
  /v1/oauth2/token:
    post:
      summary: Create or Refresh Access Token
      operationId: createOrRefreshAccessToken
      tags:
      - OAuth 2.0 Tokens
      security:
      - OAuth2: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                required:
                - code
                - client_id
                - client_secret
                - grant_type
                - redirect_uri
                properties:
                  code:
                    type: string
                    description: The authorization code.
                  client_id:
                    type: string
                    description: The client ID.
                  client_secret:
                    type: string
                    description: The client secret.
                  grant_type:
                    type: string
                    description: Value is always "authorization_code".
                  redirect_uri:
                    type: string
                    description: The redirect URI used to get the authorization code.
              - type: object
                required:
                - refresh_token
                - client_id
                - client_secret
                - grant_type
                properties:
                  refresh_token:
                    type: string
                    description: The current refresh token.
                  client_id:
                    type: string
                    description: The client ID.
                  client_secret:
                    type: string
                    description: The client secret.
                  grant_type:
                    type: string
                    description: Value is always "refresh_token".
      responses:
        '200':
          description: OK application/json with the access token and refresh token (if the offline_access
            scope was included for creating access token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2Token'
        '401':
          description: Unauthorized if the client credentials are invalid.
  /v1/oauth2/token/introspect:
    post:
      summary: Introspect Access Token
      operationId: introspectAccessToken
      tags:
      - OAuth 2.0 Tokens
      security:
      - OAuth2: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - client_id
              - client_secret
              - token
              properties:
                client_id:
                  type: string
                  description: The client ID.
                client_secret:
                  type: string
                  description: The client secret.
                token:
                  type: string
                  description: The token to inspect.
      responses:
        '200':
          description: OK with information about the token, as specified in OAuth2 Introspect Token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2IntrospectToken'
        '401':
          description: Unauthorized if the client credentials are invalid.
  /v1/oauth2/token/revoke:
    post:
      summary: Revoke Access Token
      description: Regardless of which token is revoked, all tokens from that authorization grant will
        become invalid.
      operationId: revokeAccessToken
      tags:
      - OAuth 2.0 Tokens
      security:
      - OAuth2: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - client_id
              - client_secret
              - token
              properties:
                client_id:
                  type: string
                  description: The client ID.
                client_secret:
                  type: string
                  description: The client secret.
                token:
                  type: string
                  description: The token to revoke.
      responses:
        '200':
          description: OK if the client credentials are valid.
        '401':
          description: Unauthorized if the client credentials are invalid.
  /v1/accounts/me:
    get:
      summary: Get Account Information
      description: Retrieves basic information about the authenticated account.
      operationId: getAccountInformation
      tags:
      - Accounts
      security:
      - ApiKey:
        - AccountReadonly
      - OAuth2:
        - account.info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInformationResource'
        '403':
          description: Forbidden
  /v1/accounts/me/classifications:
    get:
      summary: Get Classifications
      description: Returns the paginated list of classifications configured for the authenticated account.
        Deleted classifications are excluded from results.
      operationId: getClassifications
      tags:
      - Accounts
      security:
      - ApiKey:
        - AccountReadonly
      - OAuth2:
        - account.info
      responses:
        '200':
          description: OK. Returns a list of classifications for the account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Classification'
        '403':
          description: Forbidden. Token does not have the required scope.
  /v1/accounts/me/documents/search:
    post:
      summary: Search Account Documents
      description: Returns a list of all documents belonging to the requesting user's account, sorted
        by created date. This API is exclusive to Enterprise Shield accounts. The endpoint supports pagination
        and has a per-account rate limit of 300 requests per 5 seconds.
      operationId: SearchAccountDocuments
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentAdmin
      - OAuth2:
        - lucidchart.document.content:admin.readonly
        - lucidspark.document.content:admin.readonly
        - lucidscale.document.content:admin.readonly
      parameters:
      - $ref: '#/components/parameters/RequestAs-AccountDocuments'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userIds:
                  type: array
                  items:
                    type: number
                  description: 'When provided, limit the search to documents that at least one specified
                    user can access.

                    If no list is provided, search across the entire account.

                    '
                ownedByUsers:
                  type: boolean
                  description: When true, search results will only include documents owned by users specified
                    by userIds. Ignored if no userIds are provided.
                documentIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: List of documentIds to filter by.
                classificationIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: List of classificationIds to filter by.
                statusIds:
                  type: array
                  items:
                    type: number
                  description: List of statusIds to filter by.
                createdStartTime:
                  type: string
                  format: date-time
                  description: Start of range to filter documents by created time.
                createdEndTime:
                  type: string
                  format: date-time
                  description: End of range to filter documents by created time.
                lastModifiedStartTime:
                  type: string
                  format: date-time
                  description: Start of range to filter documents by last modified time.
                lastModifiedEndTime:
                  type: string
                  format: date-time
                  description: End of range to filter documents by last modified time.
                product:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
                  description: Array of Lucid Suite products to filter by. Default value assumes all valid
                    products for the given scopes.
                  default:
                  - lucidchart
                  - lucidscale
                  - lucidspark
                keywords:
                  type: string
                  description: Keyword(s) to search against document content and titles. When provided,
                    results will be sorted by relevance to keyword search. Use quotes to search for exact
                    phrases (e.g. "Project X")
                documentLocation:
                  type: string
                  enum:
                  - team folders
                  - users
                  - deleted
                  - repositories
                  description: Specify to search for documents in team folders, owned by users, deleted,
                    or contained within repositories
                externalAccess:
                  type: string
                  enum:
                  - any
                  - external-collaborators
                  - external-links
                  description: Specify to search for documents with either “any” type of external access,
                    “external-collaborators”, or "external-links"
      responses:
        '200':
          description: With paginated list of Account Documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AccountDocument'
        '400':
          description: Bad Request if incorrect format
        '403':
          description: Forbidden if "product" query parameter is used and the token’s scopes do not contain
            the matching readonly scope for each product, or account does not have access to the API
        '429':
          description: Too Many Requests if account makes more than 300 requests in 5 seconds
  /v1/accounts/me/legalHolds:
    post:
      summary: Create Legal Hold
      description: Creates a new legal hold on an Enterprise Shield account with specified parameters
        including title, description, keywords, and start/end times.
      operationId: createLegalHold
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldEdit
      - OAuth2:
        - account.legalhold
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Title:
                  type: string
                  description: Title that should be given to the newly created legal hold. Max length
                    of title is 80 characters.
                StartTime:
                  type: string
                  format: date-time
                  description: Time that the legal hold should start. Must not be in the past.
                EndTime:
                  type: string
                  format: date-time
                  description: Time that the legal hold should end. End time must be greater than or equal
                    to 24 hours after the start time.
                Description:
                  type: string
                  description: Description that should be given to the newly created legal hold. Max length
                    of description is 256 characters.
                Keywords:
                  type: string
                  description: 'Keyword(s) to search against document content and titles. Note: When provided,
                    only relevant results will be added to the legal hold. Empty strings will be treated
                    the same as when no keywords are provided. Max length of keywords is 400 characters.'
              required:
              - Title
              - StartTime
              - EndTime
      responses:
        '201':
          description: With the newly created legal hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHold'
        '400':
          description: Incorrect format or invalid parameters.
        '403':
          description: Account does not have permission to access the API.
    get:
      summary: Get Legal Holds
      description: Retrieves all legal holds configured for the authenticated account. The results are
        paginated.
      operationId: getLegalHolds
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldReadonly
      - OAuth2:
        - account.legalhold
        - account.legalhold:readonly
      responses:
        '200':
          description: With paginated list of legal holds.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LegalHold'
        '403':
          description: Account does not have permission to access the API.
  /v1/accounts/me/legalHolds/{legalHoldId}/users/add:
    post:
      summary: Add Legal Hold Users
      description: Adds users to a specified legal hold. This action can only be performed for legal holds
        that have not yet started.
      operationId: addLegalHoldUsers
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldEdit
      - OAuth2:
        - account.legalhold
        - account.legalhold.users
      parameters:
      - $ref: '#/components/parameters/LegalHoldIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Users:
                  type: array
                  items:
                    type: number
                  description: List of user ids for users to be put on the specified legal hold. Users
                    must belong to the admin’s account. Max number of users per request is 200.
              required:
              - Users
      responses:
        '204':
          description: Users were correctly added to the legal hold.
        '400':
          description: Incorrect format or invalid parameters.
        '403':
          description: Account does not have permission to access the API.
        '404':
          description: The specified legal hold id was not found.
  /v1/accounts/me/legalHolds/{legalHoldId}/users/remove:
    post:
      summary: Remove Legal Hold Users
      description: Removes users from a specified legal hold. This action can only be performed for legal
        holds that have not yet started.
      operationId: removeLegalHoldUsers
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldEdit
      - OAuth2:
        - account.legalhold
        - account.legalhold.users
      parameters:
      - $ref: '#/components/parameters/LegalHoldIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Users:
                  type: array
                  items:
                    type: number
                  description: List of user ids for users to be removed from the specified legal hold.
                    Users must belong to the admin’s account. Max number of users per request is 200.
              required:
              - Users
      responses:
        '204':
          description: Users were correctly removed from the legal hold.
        '400':
          description: Incorrect format or invalid parameters.
        '403':
          description: Account does not have permission to access the API.
        '404':
          description: The specified legal hold id was not found.
  /v1/accounts/me/legalHolds/{legalHoldId}:
    patch:
      summary: Edit Legal Hold
      description: Modifies an existing legal hold, allowing changes to the title, description, and end
        time. If the legal hold has not yet started, the start time and keywords can also be updated.
      operationId: editLegalHold
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldEdit
      - OAuth2:
        - account.legalhold
      parameters:
      - $ref: '#/components/parameters/LegalHoldIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                Title:
                  type: string
                  description: The new title for the legal hold (the existing one will be replaced). Max
                    length of title is 80 characters.
                StartTime:
                  type: string
                  format: date-time
                  description: The new time that the legal hold will begin. Must be at least 24 hours
                    before the end time and cannot be in the past. Cannot be changed if the legal hold
                    has already started.
                EndTime:
                  type: string
                  format: date-time
                  description: The new time that the legal hold will end and documents on the legal hold
                    will be released. Must be at least 24 hours after the start time and cannot be in
                    the past.
                Description:
                  type: string
                  description: The new description for the legal hold (the existing one will be replaced).
                    Max length of description is 256 characters.
                Keywords:
                  type: string
                  description: The new keywords for the legal hold (any existing ones will be replaced).
                    Max length of keywords is 400 characters. Cannot be changed if the legal hold has
                    already started.
      responses:
        '200':
          description: With the legal hold that was successfully modified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHold'
        '400':
          description: Incorrect format or invalid parameters.
        '403':
          description: Account does not have permission to access the API.
        '404':
          description: The specified legal hold id was not found.
  /v1/accounts/me/legalHolds/{legalHoldId}/release:
    post:
      summary: Release Legal Hold
      description: Releases a legal hold specified by the legalHoldId. Once released, it may take up to
        24 hours for the documents to be fully removed from the legal hold restriction.
      operationId: releaseLegalHold
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldEdit
      - OAuth2:
        - account.legalhold
      parameters:
      - $ref: '#/components/parameters/LegalHoldIdPath'
      responses:
        '200':
          description: With the legal hold that was released.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalHold'
        '403':
          description: Account does not have permission to access the API.
        '404':
          description: The specified legal hold id was not found.
  /v1/accounts/me/legalHolds/{legalHoldId}/users:
    get:
      summary: Get Legal Hold Users
      description: Retrieves a paginated list of all users associated with a specified legal hold.
      operationId: getLegalHoldUsers
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldReadonly
      - OAuth2:
        - account.legalhold
        - account.legalhold:readonly
        - account.legalhold.users
        - account.legalhold.users:readonly
      parameters:
      - $ref: '#/components/parameters/LegalHoldIdPath'
      responses:
        '200':
          description: With paginated list of Users.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
        '403':
          description: Account does not have permission to access the API.
        '404':
          description: The specified legal hold id was not found.
  /v1/accounts/me/legalHoldDocuments/{legalHoldId}:
    get:
      summary: Get Legal Hold Documents
      description: Retrieves a paginated list of all documents associated with a specified legal hold.
        Documents may continue to appear for up to 24 hours after users are removed from the legal hold,
        as the system processes the release asynchronously.
      operationId: getLegalHoldDocuments
      tags:
      - Legal Holds
      security:
      - ApiKey:
        - LegalHoldReadonly
      - OAuth2:
        - account.legalhold
        - account.legalhold:readonly
      parameters:
      - $ref: '#/components/parameters/LegalHoldIdPath'
      responses:
        '200':
          description: With paginated list of Documents.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '403':
          description: Account does not have permission to access the API.
        '404':
          description: The specified legal hold id was not found.
  /v1/documents/{id}/shares/users/{userId}:
    get:
      summary: Get Document User Collaborator
      description: Retrieves information about a specific user's collaboration access level for a given
        document, including the sharing permissions and role that the user has been granted.
      operationId: getDocumentUserCollaborators
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentReadonly
      - OAuth2:
        - lucidchart.document.content.share.collaborator:readonly
        - lucidchart.document.app.picker.share.collaborator:readonly
        - lucidchart.document.app.folder
        - lucidscale.document.content.share.collaborator:readonly
        - lucidscale.document.app.picker.share.collaborator:readonly
        - lucidscale.document.app.folder
        - lucidspark.document.content.share.collaborator:readonly
        - lucidspark.document.app.picker.share.collaborator:readonly
        - lucidspark.document.app.folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - in: path
        name: userId
        required: true
        description: ID of the user to retrieve collaborator settings for.
        schema:
          type: number
      responses:
        '200':
          description: OK with a Document User Collaborator Resource containing information about the
            user's collaboration settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUserCollaborator'
        '403':
          description: Forbidden if the app making the request does not have permission to the document,
            or if the document has been deleted, or does not exist.
        '404':
          description: Not Found when a user with the specified ID can not be found or does not have collaborator
            access to the document.
    put:
      summary: Create/Update Document User Collaborator
      description: Updates the collaborator role for a user on a document. If the user did not previously
        have access to the document, they will be granted access and a new collaborator record will be
        created.
      operationId: putDocumentUserCollaborators
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content.share.collaborator
        - lucidchart.document.app.picker.share.collaborator
        - lucidchart.document.app.folder
        - lucidscale.document.content.share.collaborator
        - lucidscale.document.app.picker.share.collaborator
        - lucidscale.document.app.folder
        - lucidspark.document.content.share.collaborator
        - lucidspark.document.app.picker.share.collaborator
        - lucidspark.document.app.folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - in: path
        name: userId
        required: true
        description: ID of the user to retrieve collaborator settings for.
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - editandshare
                  - edit
                  - comment
                  - view
                  example: comment
                  description: The Collaborator Role to assign to the user for this document.
      responses:
        '200':
          description: OK when updating an existing Document User Collaborator. Contains the updated Document
            User Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUserCollaborator'
        '201':
          description: Created when creating a new Document User Collaborator. Contains the new Document
            User Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUserCollaborator'
        '403':
          description: Forbidden if the token does not have permission to the document, or if the document
            has been deleted or does not exist.
    delete:
      summary: Delete Document User Collaborator
      description: Revokes all collaborator access to a document for the given user. The user may still
        have access to the document through other means such as shared folders. Cannot be used to remove
        the document owner's access.
      operationId: deleteDocumentUserCollaborators
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content.share.collaborator
        - lucidchart.document.app.picker.share.collaborator
        - lucidchart.document.app.folder
        - lucidscale.document.content.share.collaborator
        - lucidscale.document.app.picker.share.collaborator
        - lucidscale.document.app.folder
        - lucidspark.document.content.share.collaborator
        - lucidspark.document.app.picker.share.collaborator
        - lucidspark.document.app.folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - in: path
        name: userId
        required: true
        description: ID of the user to retrieve collaborator settings for.
        schema:
          type: number
      responses:
        '204':
          description: No Content when the user's collaborator record on the document was successfully
            deleted.
        '403':
          description: Forbidden * if the token does not have permission to the document, or if the document
            has been deleted or does not exist. * when attempting to revoke the collaboration for the
            document owner.
  /v1/documents/{id}/shares/users:
    get:
      summary: List Document User Collaborators
      description: Retrieves information about all collaborators on the provided document. Supports pagination
        for managing large result sets.
      operationId: listDocumentUserCollaborators
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentReadonly
      - OAuth2:
        - lucidchart.document.content.share.collaborator:readonly
        - lucidchart.document.app.picker.share.collaborator:readonly
        - lucidchart.document.app.folder
        - lucidscale.document.content.share.collaborator:readonly
        - lucidscale.document.app.picker.share.collaborator:readonly
        - lucidscale.document.app.folder
        - lucidspark.document.content.share.collaborator:readonly
        - lucidspark.document.app.picker.share.collaborator:readonly
        - lucidspark.document.app.folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK with an array of Document User Collaborator Resources for the document's collaborators.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentUserCollaborator'
        '403':
          description: Forbidden if the token does not have permission to the document, or if the document
            has been deleted or does not exist.
  /v1/documents/{id}/shares/teams/{teamId}:
    get:
      summary: Get Document Team Collaborator
      description: Returns information about the given team's collaboration on the given document, including
        the team's access and collaboration permissions.
      operationId: getDocumentTeamCollaborator
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentReadonly
      - OAuth2:
        - lucidchart.document.app.folder
        - lucidchart.document.app.picker.share.collaborator:readonly
        - lucidchart.document.content.share.collaborator:readonly
        - lucidscale.document.app.folder
        - lucidscale.document.app.picker.share.collaborator:readonly
        - lucidscale.document.content.share.collaborator:readonly
        - lucidspark.document.app.folder
        - lucidspark.document.app.picker.share.collaborator:readonly
        - lucidspark.document.content.share.collaborator:readonly
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - in: path
        name: teamId
        required: true
        description: ID of the team to retrieve collaborator settings for.
        schema:
          type: number
        example: 99
      responses:
        '200':
          description: OK. Returns a Document Team Collaborator Resource containing information about
            the team's collaboration settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTeamCollaborator'
        '403':
          description: Forbidden. Occurs if the app making the request does not have permission for the
            document, or if the document has been deleted or does not exist.
        '404':
          description: Not Found. Occurs when a team with the specified ID can not be found or does not
            have collaborator access to the document.
    put:
      summary: Create/Update Document Team Collaborator
      description: Updates the details of the given team's collaboration on the given document, or adds
        the team as a collaborator on the document if it isn't already a collaborator.
      operationId: putDocumentTeamCollaborator
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.app.folder
        - lucidchart.document.app.picker.share.collaborator
        - lucidchart.document.content.share.collaborator
        - lucidscale.document.app.folder
        - lucidscale.document.app.picker.share.collaborator
        - lucidscale.document.content.share.collaborator
        - lucidspark.document.app.folder
        - lucidspark.document.app.picker.share.collaborator
        - lucidspark.document.content.share.collaborator
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - in: path
        name: teamId
        required: true
        description: ID of the team to retrieve collaborator settings for.
        schema:
          type: number
        example: 99
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - editandshare
                  - edit
                  - comment
                  - view
                  example: comment
                  description: The Collaborator Role to assign to the user for this document.
      responses:
        '200':
          description: OK when updating an existing Document Team Collaborator. Contains the updated Document
            Team Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTeamCollaborator'
        '201':
          description: Created when creating a new Document Team Collaborator. Contains the new Document
            Team Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentTeamCollaborator'
        '403':
          description: Forbidden if the token does not have permission to the document, or if the document
            has been deleted or does not exist.
    delete:
      summary: Delete Document Team Collaborator
      description: Removes the given team as a collaborator on the given document.
      operationId: deleteDocumentTeamCollaborator
      tags:
      - Documents Collaboration
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.app.folder
        - lucidchart.document.app.picker.share.collaborator
        - lucidchart.document.content.share.collaborator
        - lucidscale.document.app.folder
        - lucidscale.document.app.picker.share.collaborator
        - lucidscale.document.content.share.collaborator
        - lucidspark.document.app.folder
        - lucidspark.document.app.picker.share.collaborator
        - lucidspark.document.content.share.collaborator
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the document.
        schema:
          type: string
          format: uuid
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - in: path
        name: teamId
        required: true
        description: ID of the team to retrieve collaborator settings for.
        schema:
          type: number
        example: 99
      responses:
        '204':
          description: No Content. The team's collaborator record on the document was successfully deleted.
        '403':
          description: Forbidden * if the token does not have permission to the document, or if the document
            has been deleted or does not exist. * when attempting to revoke the collaboration for the
            document owner.
  /v1/folders/{id}/shares/users/{userId}:
    get:
      summary: Get Folder User Collaborator
      description: Retrieves information about a specific user's direct collaborator access to a given
        folder. A user having access to a folder through one of the folder's ancestors will not be shown
        through this API.
      operationId: getFolderUserCollaborators
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderReadonly
      - OAuth2:
        - folder:readonly
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      - in: path
        name: userId
        required: true
        description: ID of the user to retrieve collaborator settings for.
        schema:
          type: number
      responses:
        '200':
          description: OK with a Folder User Collaborator Resource containing information about the user's
            collaboration settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderUserCollaborator'
        '403':
          description: Forbidden if the app making the request does not have permission to the folder,
            or if the folder has been deleted, or does not exist.
        '404':
          description: Not Found when a user with the specified ID cannot be found or does not have collaborator
            access to the folder.
    put:
      summary: Create/Update Folder User Collaborator
      description: Updates or establishes a user's collaborator access to a given folder. If the user
        does not already have access, a new Folder User Collaborator Resource is created. Collaborators
        cannot be given the role "owner", and the role of the folder's owner cannot be modified.
      operationId: putFolderUserCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      - in: path
        name: userId
        required: true
        description: ID of the user whose role to create or modify.
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - editandshare
                  - edit
                  - comment
                  - view
                  example: comment
                  description: The Collaborator Role to assign to the user for this folder.
      responses:
        '200':
          description: OK when updating an existing Folder User Collaborator. Contains the updated Folder
            User Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderUserCollaborator'
        '201':
          description: Created when creating a new Folder User Collaborator. Contains the new Folder User
            Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderUserCollaborator'
        '400':
          description: Bad Request when trying to add or update a Folder User Collaborator to have the
            "owner" role.
        '403':
          description: Forbidden if the token does not have permission to the folder, or if the folder
            has been deleted or does not exist.
    delete:
      summary: Delete Folder User Collaborator
      description: Revokes a user's direct collaborator access to a given folder. The user may still have
        access to the folder through other means such as shared folders. This action cannot be used to
        revoke access from the folder owner.
      operationId: deleteFolderUserCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      - in: path
        name: userId
        required: true
        description: ID of the user to delete collaborator settings for.
        schema:
          type: number
      responses:
        '204':
          description: No Content when the user's collaborator record on the folder was successfully deleted.
        '400':
          description: Bad Request when removing the user would leave a project folder without an owner.
            Promote another user to owner on the project first, then retry.
        '403':
          description: Forbidden * if the token does not have permission to the folder, or if the folder
            has been deleted or does not exist. * when attempting to revoke the collaboration for the
            folder owner.
  /v1/folders/{id}/shares/users:
    get:
      summary: List Folder User Collaborators
      description: Retrieves all users who have direct collaborator access to a given folder. A user having
        access to a folder through one of the folder's ancestors will not be shown through this API. Results
        are paginated.
      operationId: listFolderUserCollaborators
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderReadonly
      - OAuth2:
        - folder:readonly
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      responses:
        '200':
          description: OK with an array of Folder User Collaborator Resources for the folder's collaborators.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FolderUserCollaborator'
        '403':
          description: Forbidden if the token does not have permission to the folder, or if the folder
            has been deleted or does not exist.
  /v1/folders/{id}/shares/groups/{groupId}:
    get:
      summary: Get Folder Group Collaborator
      description: Retrieves information about a group's direct collaborator access to a given folder.
        A group having access to a folder through one of the folder's ancestors will not be shown through
        this API.
      operationId: getFolderGroupCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderReadonly
      - OAuth2:
        - folder
        - folder:readonly
      parameters:
      - in: path
        name: id
        required: true
        description: Folder ID.
        schema:
          type: number
      - in: path
        name: groupId
        required: true
        description: Group ID.
        schema:
          type: number
      responses:
        '200':
          description: OK with a Folder Group Collaborator Resource containing information about the group's
            collaboration access on the folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderGroupCollaborator'
        '403':
          description: Forbidden if the token does not have access to the folder, or if the folder has
            been deleted or does not exist.
        '404':
          description: Not Found when the group does not have direct collaborator access to the folder.
    put:
      summary: Create/Update Folder Group Collaborator
      description: Grants a group direct collaborator access to a given folder, or updates the group's
        role on the folder if it is already a collaborator.
      operationId: updateFolderGroupCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - in: path
        name: id
        required: true
        description: Folder ID.
        schema:
          type: number
      - in: path
        name: groupId
        required: true
        description: Group ID.
        schema:
          type: number
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - editandshare
                  - edit
                  - comment
                  - view
                  example: comment
                  description: The Collaborator Role to assign to the group for this folder.
      responses:
        '200':
          description: OK when updating an existing Folder Group Collaborator. Contains the updated Folder
            Group Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderGroupCollaborator'
        '201':
          description: Created when creating a new Folder Group Collaborator. Contains the new Folder
            Group Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderGroupCollaborator'
        '400':
          description: Bad Request when trying to add or update a Folder Group Collaborator to have the
            "owner" role.
        '403':
          description: Forbidden if the token does not have permission to the folder, or if the folder
            or group have been deleted or do not exist.
    delete:
      summary: Delete Folder Group Collaborator
      description: Revokes any direct collaborator access a group has to the given folder.
      operationId: deleteFolderGroupCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - in: path
        name: id
        required: true
        description: Folder ID.
        schema:
          type: number
      - in: path
        name: groupId
        required: true
        description: Group ID.
        schema:
          type: number
      responses:
        '204':
          description: No Content when the group's collaborator record on the folder was successfully
            deleted.
        '400':
          description: Bad Request when removing the group would leave a project folder without an owner.
        '403':
          description: Forbidden if the token does not have permission to the folder, or if the folder
            has been deleted or does not exist.
  /v1/folders/{id}/shares/groups:
    get:
      summary: List Folder Group Collaborators
      description: Retrieves all groups that have been granted direct collaborator access to a given folder.
        A group having access to a folder through one of the folder's ancestors will not be shown through
        this API. Results are paginated.
      operationId: listFolderGroupCollaborators
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderReadonly
      - OAuth2:
        - folder
        - folder:readonly
      parameters:
      - in: path
        name: id
        required: true
        description: Folder ID.
        schema:
          type: number
      responses:
        '200':
          description: OK with an array of Folder Group Collaborator Resources containing the folder's
            collaborators, as well as Pagination headers.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FolderGroupCollaborator'
        '403':
          description: Forbidden if the token does not have access to the folder, or if the folder has
            been deleted or does not exist.
  /v1/folders/{id}/shares/teams/{teamId}:
    get:
      summary: Get Folder Team Collaborator
      description: Returns information about the given team's collaboration on the given folder.
      operationId: getFolderTeamCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderReadonly
      - OAuth2:
        - folder:readonly
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      - in: path
        name: teamId
        required: true
        description: ID of the team to retrieve collaborator settings for.
        schema:
          type: number
        example: 99
      responses:
        '200':
          description: OK with a Folder Team Collaborator Resource containing information about the team's
            collaboration access on the folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderTeamCollaborator'
        '403':
          description: Forbidden when the app making the request does not have permission for the folder,
            or if the folder has been deleted or does not exist.
        '404':
          description: Not Found when a team with the specified ID cannot be found or does not have collaborator
            access to the folder.
    put:
      summary: Create/Update Folder Team Collaborator
      description: Updates the details of the given team's collaboration on the given folder, or adds
        the team as a collaborator on the folder if it is not already a collaborator.
      operationId: putFolderTeamCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      - in: path
        name: teamId
        required: true
        description: ID of the team whose role is to be created or modified.
        schema:
          type: number
        example: 99
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                  enum:
                  - editandshare
                  - edit
                  - comment
                  - view
                  example: comment
                  description: The Collaborator Role to assign to the team for this folder.
      responses:
        '200':
          description: OK when updating an existing Folder Team Collaborator. Contains the updated Folder
            Team Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderTeamCollaborator'
        '201':
          description: Created when creating a new Folder Team Collaborator. Contains the new Folder Team
            Collaborator Resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FolderTeamCollaborator'
        '400':
          description: Bad Request when trying to add or update a collaborator to have the "owner" role.
        '403':
          description: Forbidden when the token does not have permission for the folder, or if the folder
            has been deleted or does not exist.
    delete:
      summary: Delete Folder Team Collaborator
      description: Revokes a team's direct collaborator access to the given folder.
      operationId: deleteFolderTeamCollaborator
      tags:
      - Folders Collaboration
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - in: path
        name: id
        required: true
        description: ID of the folder.
        schema:
          type: number
      - in: path
        name: teamId
        required: true
        description: ID of the team to delete collaborator settings for.
        schema:
          type: number
        example: 99
      responses:
        '204':
          description: No Content when the team's collaborator record on the folder was successfully deleted.
        '400':
          description: Bad Request when removing the team would leave a project folder without an owner.
        '403':
          description: Forbidden if the token does not have permission to the folder, or if the folder
            has been deleted or does not exist.
  /v1/documents:
    post:
      summary: Create Document
      description: 'Creates a new document for the requesting user, with the specified title. Requires
        `title` and `product`. Optionally, a `parent` folder, `extensionBootstrapData`, or Lucid Standard
        Import `content` can be provided to customize the new document.


        > 📘

        >

        > This endpoint can only create a new Lucidchart or Lucidspark document. It cannot modify an existing
        document''s contents.


        > 📘 ##### Document Creation Location

        >

        > When there is no `parent` field on the request, the new document will be created in a default
        location depending on the authorizing token''s scopes.

        >

        > - If the token authorizing the request uses one of the `document.app` scopes, then the document
        will be created in an `app-specific folder`.

        > - If one of the `document.content` scopes is used, the document will be created in the user''s
        ''My Documents folder''.

        > - If both types of scopes are authorized on the token, the `document.content` behavior will
        take priority and the document will be created in the user''s ''My Documents'' folder.


        > 📘 ##### Bootstrap Data for Create Document

        >

        > Bootstrap data can be attached to the created document to be consumed by a specific [Extension
        Package](https://lucid.readme.io/docs/lucid-extension-api). See [Bootstrap Data for documents
        created via API](https://lucid.readme.io/docs/editor-extension-data#bootstrap-data-for-documents-created-via-api)
        for usage.


        > 📘 Standard Import

        >

        > When `content` is provided, it must conform to the Lucid Standard Import schema. For more information
        on how to use the Standard Import, refer to the extensive reference documentation [here](doc:overview-si).

        >

        > For examples of how to use the Standard Import, refer to the `/standard-import` folder in Lucid''s
        repository of [Sample Lucid REST Applications](https://github.com/lucidsoftware/sample-lucid-rest-applications/tree/main/standard-import).
        This repo also contains some example `.zip` Standard Import files you can reference or use in
        your own projects.


        ## Valid Authentication Methods


        **API Key Grants:**

        - `DocumentEdit`


        **OAuth 2.0 User Token Scopes:**

        - `lucidchart.document.content`

        - `lucidchart.document.app.folder`

        - `lucidspark.document.content`

        - `lucidspark.document.app.folder`

        '
      operationId: createDocument
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content
        - lucidchart.document.app.folder
        - lucidspark.document.content
        - lucidspark.document.app.folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              - product
              properties:
                title:
                  type: string
                  description: Title that should be given to the newly created document.
                product:
                  $ref: '#/components/schemas/CreatableProduct'
                parent:
                  type: number
                  description: Folder ID for the new document.
                extensionBootstrapData:
                  $ref: '#/components/schemas/BootstrapData'
                content:
                  $ref: '#/components/schemas/LucidStandardImportContent'
      responses:
        '201':
          description: 'Created with Document resource containing information about the newly created
            document.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request. * `'content' and 'extensionBootstrapData' cannot both be provided`
            — the `content` field is mutually exclusive with `extensionBootstrapData`. * Invalid `content`
            JSON — the provided content does not conform to the Lucid Standard Import schema.
        '403':
          description: Forbidden. * if the user doesn't have access to or permissions to create within
            the specified parent folder. * if the token authorizing the request has the document.app scope
            with a specified parent folder that is outside the app folder's folder tree.
  /v1/documents/create:
    post:
      summary: Create Document with Standard Import File
      description: 'Creates a new document from a Lucid Standard Import file (`.zip` archive) uploaded
        as multipart/form-data. Requires `file`, `type`, and `product`. Optionally, a `title` and `parent`
        folder can be provided. If no `title` is provided, the new document''s title will be the imported
        filename.


        > 📘

        >

        > This endpoint can only create a new Lucidchart or Lucidspark document. It cannot modify an existing
        document''s contents.


        > 📘 ##### Document Creation Location

        >

        > When there is no `parent` field on the request, the new document will be created in a default
        location depending on the authorizing token''s scopes.

        >

        > - If the token authorizing the request uses one of the `document.app` scopes, then the document
        will be created in an `app-specific folder`.

        > - If one of the `document.content` scopes is used, the document will be created in the user''s
        ''My Documents folder''.

        > - If both types of scopes are authorized on the token, the `document.content` behavior will
        take priority and the document will be created in the user''s ''My Documents'' folder.


        > 📘 Standard Import

        >

        > For more information on how to use the Standard Import, refer to the extensive reference documentation
        [here](doc:overview-si).

        >

        > For examples of how to use the Standard Import, refer to the `/standard-import` folder in Lucid''s
        repository of [Sample Lucid REST Applications](https://github.com/lucidsoftware/sample-lucid-rest-applications/tree/main/standard-import).
        This repo also contains some example `.zip` Standard Import files you can reference or use in
        your own projects.


        ## Valid Authentication Methods


        **API Key Grants:**

        - `DocumentEdit`


        **OAuth 2.0 User Token Scopes:**

        - `lucidchart.document.content`

        - `lucidchart.document.app.folder`

        - `lucidspark.document.content`

        - `lucidspark.document.app.folder`

        '
      operationId: createDocumentWithStandardImport
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content
        - lucidchart.document.app.folder
        - lucidspark.document.content
        - lucidspark.document.app.folder
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - type
              - product
              properties:
                file:
                  type: string
                  format: binary
                  description: The Lucid Standard Import specification (`.zip` archive) from which to
                    create the document.
                type:
                  type: string
                  enum:
                  - x-application/vnd.lucid.standardImport
                product:
                  $ref: '#/components/schemas/CreatableProduct'
                title:
                  type: string
                  description: Title that should be given to the newly created document. If no title is
                    specified, the document will be automatically assigned the file name.
                parent:
                  type: number
                  description: Folder ID for the new document.
      responses:
        '201':
          description: 'Created with Document resource containing information about the newly created
            document.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: 'Bad Request.

            * Invalid request body — the provided payload does not conform to the Lucid Standard Import
            schema.

            '
        '403':
          description: 'Forbidden.

            * if the user doesn''t have access to or permissions to create within the specified parent
            folder.

            * if the token authorizing the request has the document.app scope with a specified parent
            folder that is outside the app folder''s folder tree.

            * if the token does not have the correct scope for the import type.

            '
        '415':
          description: Unsupported Media Type. The file type provided is not supported.
  /v1/documents/import:
    post:
      summary: Import Document
      description: 'Imports an external non-Lucid file as a new document within Lucid. The file is uploaded
        as multipart/form-data. Requires `file`, `type`, and `product`. Optionally, a `title` and `parent`
        folder can be provided. If no `title` is provided, the new document''s title will be the imported
        filename.


        > 📘

        >

        > This endpoint can only create a new Lucidchart or Lucidspark document. It cannot modify an existing
        document''s contents.


        > 📘 ##### Document Creation Location

        >

        > When there is no `parent` field on the request, the new document will be created in a default
        location depending on the authorizing token''s scopes.

        >

        > - If the token authorizing the request uses one of the `document.app` scopes, then the document
        will be created in an `app-specific folder`.

        > - If one of the `document.content` scopes is used, the document will be created in the user''s
        ''My Documents folder''.

        > - If both types of scopes are authorized on the token, the `document.content` behavior will
        take priority and the document will be created in the user''s ''My Documents'' folder.


        > 📘 Board import

        >

        > - The `board` import type only accepts pdfs that are exports of digital whiteboards.

        > - The `board` import type can only be authorized by users with a Lucidspark Enterprise license.

        > - The `board` import type is experimental and importing the same board may produce varying results
        over time.


        ## Valid Authentication Methods


        **API Key Grants:**

        - `DocumentEdit`


        **OAuth 2.0 User Token Scopes:**

        - `lucidchart.document.content`

        - `lucidchart.document.app.folder`

        - `lucidspark.document.content`

        - `lucidspark.document.app.folder`

        '
      operationId: importDocument
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content
        - lucidchart.document.app.folder
        - lucidspark.document.content
        - lucidspark.document.app.folder
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              - type
              - product
              properties:
                file:
                  type: string
                  format: binary
                  description: The file from which to import the document.
                type:
                  type: string
                  enum:
                  - x-application/vnd.lucid.drawio
                  - x-application/vnd.lucid.visio
                  - x-application/vnd.lucid.gliffy
                  - x-application/vnd.lucid.board
                  description: 'The type of file provided for import. Supported types:

                    * `x-application/vnd.lucid.drawio` — draw.io files (.drawio, .xml) for Lucidchart

                    * `x-application/vnd.lucid.visio` — Visio files (.vsdx, .vdx) for Lucidchart

                    * `x-application/vnd.lucid.gliffy` — Gliffy files (.gliffy, .gon, .gxml) for Lucidchart

                    * `x-application/vnd.lucid.board` — Board files (.pdf) for Lucidspark

                    '
                product:
                  $ref: '#/components/schemas/CreatableProduct'
                title:
                  type: string
                  description: Title that should be given to the newly imported document. If no title
                    is specified, the document will be automatically assigned the file name.
                parent:
                  type: number
                  description: Folder ID for the new document.
      responses:
        '201':
          description: 'Created with Document resource containing information about the newly imported
            document.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: 'Forbidden.

            * if the user doesn''t have access to or permissions to create within the specified parent
            folder.

            * if the token authorizing the request has the document.app scope with a specified parent
            folder that is outside the app folder''s folder tree.

            * if the token does not have the correct scope for the import type.

            * if the token requesting a board import does not have a Lucidspark Enterprise License.

            '
        '415':
          description: Unsupported Media Type. The file type provided is not supported.
  /v1/documents/copy:
    post:
      summary: Copy Document
      description: 'Copies one of the requesting user''s existing documents, with the specified title.
        Requires `title` and `template` (the ID of the document to copy). Optionally, a `parent` folder
        can be provided. Note that collaborator permissions are not transferred to the copied document.


        > 📘

        >

        > This endpoint can only create a new Lucidchart or Lucidspark document. It cannot modify an existing
        document''s contents.


        > 📘 ##### Document Creation Location

        >

        > When there is no `parent` field on the request, the new document will be created in a default
        location depending on the authorizing token''s scopes.

        >

        > - If the token authorizing the request uses one of the `document.app` scopes, then the document
        will be created in an `app-specific folder`.

        > - If one of the `document.content` scopes is used, the document will be created in the user''s
        ''My Documents folder''.

        > - If both types of scopes are authorized on the token, the `document.content` behavior will
        take priority and the document will be created in the user''s ''My Documents'' folder.


        ## Valid Authentication Methods


        **API Key Grants:**

        - `DocumentEdit`


        **OAuth 2.0 User Token Scopes:**

        - `lucidchart.document.content`

        - `lucidchart.document.app.folder`

        - `lucidspark.document.content`

        - `lucidspark.document.app.folder`

        '
      operationId: copyDocument
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content
        - lucidchart.document.app.folder
        - lucidspark.document.content
        - lucidspark.document.app.folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              - template
              properties:
                title:
                  type: string
                  description: Title that should be given to the copied document.
                template:
                  type: string
                  format: uuid
                  description: ID of the document to copy.
                parent:
                  type: number
                  description: Folder ID for the new document.
      responses:
        '201':
          description: 'Created with Document resource containing information about the newly copied document.

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '403':
          description: 'Forbidden.

            * if the user doesn''t have access to or permissions to create within the specified parent
            folder.

            * if the user doesn''t have permissions to access the specified template to copy from.

            * if the token authorizing the request has the document.app scope with a specified parent
            folder that is outside the app folder''s folder tree.

            '
  /v1/documents/{id}:
    get:
      summary: Get/Export Document
      description: 'Retrieves information about the requested document or exports it as an image.


        **Get Document:** Requires at least read-only access. Document owner information is only returned
        if the requesting user has view access and the document is unpublished. If published, the user
        must be at least a collaborator.


        **Export Document:** Exports a given document in a specified image format. When exporting oversized
        images, the resolution may be automatically scaled down to enable performant API requests.


        **Admin flow:** Account owners and document admins can access any document belonging to their
        account without needing a direct share by setting the `Lucid-Request-As: admin` header and authenticating
        with an admin scope or `DocumentAdmin` API key grant.

        '
      operationId: getOrExportDocument
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentReadonly
        - DocumentAdmin
      - OAuth2:
        - lucidchart.document.content:readonly
        - lucidchart.document.content:admin.readonly
        - lucidchart.document.app.picker:readonly
        - lucidchart.document.app.folder
        - lucidscale.document.content:readonly
        - lucidscale.document.content:admin.readonly
        - lucidscale.document.app.picker:readonly
        - lucidscale.document.app.folder
        - lucidspark.document.content:readonly
        - lucidspark.document.content:admin.readonly
        - lucidspark.document.app.picker:readonly
        - lucidspark.document.app.folder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document to be retrieved or exported.
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      - name: Lucid-Request-As
        in: header
        required: false
        description: 'If the requesting user is an account owner or document admin with the required permissions
          and they make the

          request with the value of "admin" as this header and include an admin scope or `DocumentAdmin`
          API key grant,

          the request will be made using their admin permissions and will succeed for any document belonging
          to their

          account.

          '
        schema:
          type: string
        example: admin
      - name: Accept
        in: header
        description: "When using the Export Document API, the format of the exported document is set via\
          \ the `Accept` header. This header contains up to two parts, separated by a semicolon:\n  *\
          \ A prefix stating which type of image you would like the document exported as. Options are:\n\
          \    * `image/jpeg`\n    * `image/png`\n  * Optionally, you can also supply the dots per inch\
          \ (DPI) you want the exported image to have. If this value is not provided, a default of 160\
          \ will be used. For example:\n    * `image/png;dpi=256`\n    * `image/jpeg;dpi=64`"
        required: false
        schema:
          type: string
          example: image/png
      - name: page
        in: query
        description: 1-based page index of the document to export. Defaults to the first page. Only a
          single page is allowed. Optional for export operation. Cannot be provided when pageId is provided.
        required: false
        schema:
          type: number
          default: 1
      - name: pageId
        in: query
        description: Specific page of the document to export. Only a single page is allowed. Optional
          for export operation. Cannot be provided when page is provided.
        example: J~65X_X714o2
        required: false
        schema:
          type: string
      - name: crop
        in: query
        description: "Specifies the crop settings for the document export. Optional for export operation.\
          \ Possible values are\n  * Default (no crop parameter) - Exports the entire page canvas area\
          \ that contains your content. Automatically adjusts to include all items on the page, including\
          \ the space between them and maintains the relative positioning and spacing of your document\
          \ elements\n  * `x, y, width, height` - Crop to the specified region (in pixels) on the page.\
          \ Example crop=1000,300,30,7\n    * Note: The region (in pixels) is accurate to the number of\
          \ pixels on the canvas. The number of pixels of the outputted image will only match the crop\
          \ window at a DPI of 160.\n  * `content` - Crop to page content. Example crop=content"
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK with Document resource containing information about the requested document or
            the binary data in the response body for exports. The Accept header specifies the type of
            image for exports.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Bad Request. More than one page and/or pageId was provided for export.
        '403':
          description: Forbidden. The app making the request does not have permission to the document,
            or if the document has been deleted or does not exist.
        '404':
          description: Not Found. The specified page or pageID could not be found for export.
        '406':
          description: Not Acceptable. The specified image type is not supported for export.
        '429':
          description: Too Many Requests. If the account makes more than 75 requests in 5 seconds.
    patch:
      summary: Update Document
      description: 'Updates properties of an existing document. Supports partial updates via JSON for
        title, parent, and classification.


        Supports moving documents into (but not out of) repositories by providing a repo_-prefixed repository
        ID as the parent.

        '
      operationId: updateDocument
      tags:
      - Document Access
      security:
      - OAuth2:
        - lucidchart.document.content
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document to update.
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchDocumentRequestBody'
      responses:
        '200':
          description: OK with Document resource containing information about the updated document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request. * Title must be non-empty when included. * Title must be at most 300
            characters. * Title must not start or end with whitespace. * Invalid parent ID. Must be either
            a string prefixed with repo_ (for repositories) or a number. * Custom tag values must be non-empty
            when included. * Custom tag values must not start or end with whitespace. * Classification
            ID must either be null or an existing classification ID.
        '403':
          description: Forbidden. The app making the request does not have permission to the document,
            or the document does not exist.
        '409':
          description: Conflict. A conflict occurred when saving the document.
  /v1/documents/{id}/trash:
    post:
      summary: Trash Document
      description: 'Moves the specified document to the trash for the requesting user.


        If the document is shared or part of a team folder, other users will still have access to the
        document. Requires the user to be the owner of the requested document or have the appropriate
        team folder permissions.

        '
      operationId: trashDocument
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentEdit
      - OAuth2:
        - lucidchart.document.content
        - lucidchart.document.app.folder
        - lucidscale.document.content
        - lucidscale.document.app.folder
        - lucidspark.document.content
        - lucidspark.document.app.folder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document to be moved to the trash.
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      responses:
        '204':
          description: No Content when the document is successfully moved into the trash or is already
            trashed.
        '403':
          description: Forbidden. if the app making the request does not have permission to the document,
            or if the document has been deleted or does not exist.
  /v1/documents/search:
    post:
      summary: Search Documents
      operationId: searchDocuments
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentReadonly
      - OAuth2:
        - lucidchart.document.content:readonly
        - lucidscale.document.content:readonly
        - lucidspark.document.content:readonly
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: array
                  items:
                    $ref: '#/components/schemas/Product'
                  description: Array of Lucid Suite products to filter by. Default value assumes all valid
                    products for the given scopes.
                  default:
                  - lucidchart
                  - lucidscale
                  - lucidspark
                createdStartTime:
                  type: string
                  format: date-time
                  default: '0001-01-01T00:00:00Z'
                  description: Date and time to filter documents that have been created after. Default
                    value assumes the beginning of time.
                createdEndTime:
                  type: string
                  format: date-time
                  default: '9999-12-31T23:59:59Z'
                  description: Date and time to filter documents that have been created before. Default
                    value assumes the current instant of time.
                lastModifiedAfter:
                  type: string
                  format: date-time
                  default: '0001-01-01T00:00:00Z'
                  description: Date and time to filter documents that have been modified after. Default
                    value assumes the beginning of time.
                lastModifiedBefore:
                  type: string
                  format: date-time
                  description: Date and time to filter documents that have been modified before. When
                    omitted, results are not bounded by an upper modified-time limit.
                keywords:
                  type: string
                  description: Keywords to search against document content and titles. This field is truncated
                    to 400 characters. When provided, results will be sorted by relevance to keyword search.
                excludeTrashed:
                  type: boolean
                  description: When set to true, excludes trashed/deleted documents from search results.
                    When set to false or omitted, trashed documents are included in results with their
                    trashedTimestamp populated.
                  default: false
                documentLocation:
                  type: string
                  enum:
                  - repositories
                  description: When provided, restricts search results to documents contained within repositories
                    the authenticated user can access. Only the value "repositories" is supported on this
                    endpoint.
                owners:
                  type: array
                  items:
                    type: number
                  description: When provided, limit the search to documents owned by at least one of the
                    specified users. Results are still restricted to documents the authenticated user
                    can access. A maximum of 10000 users may be specified.
                externalAccess:
                  type: string
                  enum:
                  - any
                  - external-collaborators
                  - external-links
                  description: Specify to search for documents with either “any” type of external access,
                    “external-collaborators”, or "external-links"
                statusIds:
                  type: array
                  items:
                    type: number
                  description: List of statusIds to filter by.
                documentIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: List of documentIds to filter by. A maximum of 10000 documents may be specified.
      responses:
        '200':
          description: OK with an array of Document Resource objects containing information about documents
            the authenticated user has access to.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Bad Request if the request does not contain a body.
        '403':
          description: Forbidden if the product query parameter is used and the token's scopes do not
            contain the matching readonly scope for each product.
        '429':
          description: Too Many Requests if the account makes more than 300 requests in 5 seconds.
  /v1/documents/{id}/contents:
    get:
      summary: Document Contents
      description: 'Retrieves information about the contents of the requested Lucidchart or Lucidspark
        document.


        Due to the evolving nature of Lucid documents, an unchanged document may produce varying results
        over time.

        '
      operationId: getDocumentContent
      tags:
      - Document Access
      security:
      - ApiKey:
        - DocumentReadonly
      - OAuth2:
        - lucidchart.document.content:readonly
        - lucidchart.document.app.picker:readonly
        - lucidchart.document.app.folder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: ID of the document to have contents retrieved.
        example: 110808fd-4553-4316-bccf-4f25ff59a532
      responses:
        '200':
          description: OK with Document Content resource containing information about the requested document's
            content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentContent'
        '403':
          description: Forbidden if the app making the request does not have permission to the document,
            or if the document has been deleted or does not exist.
        '429':
          description: Too Many Requests if the account makes more than 100 requests in 5 seconds.
  /v1/embeds:
    get:
      summary: Embed Viewer
      description: Display an embed within an iframe. If no embed id was included when creating the token,
        the iframe first displays a document picker where the user can create and configure a new embed.
        If an embed id was included, the iframe displays either an embedded document viewer, an embedded
        editor, or an embed configuration page depending on the token request body and embed settings.
      operationId: documentEmbeds
      tags:
      - Document Embedding
      security:
      - OAuth2: []
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
        description: The embed session token retrieved from the Generate Embed Session Token endpoint.
      responses:
        '200':
          description: The iframe content displaying the embedded document picker or viewer.
          content:
            text/html:
              schema:
                type: string
        '401':
          description: Unauthorized. The token is missing or invalid.
        '403':
          description: Forbidden. The access to the embed is forbidden.
        '404':
          description: Not Found. The embed id is not found.
  /v1/embeds/token:
    post:
      summary: Generate Embed Session Token
      description: Generates a short-lived, limited-scope temporary access token to allow your app to
        display embedded Lucid documents in an iframe. The token allows the embedding website to load
        the document picker and document viewer, but does not grant access to any additional resource
        within Lucid.
      operationId: documentEmbedsToken
      tags:
      - Document Embedding
      security:
      - OAuth2:
        - lucidchart.document.app.picker.share.embed
        - lucidscale.document.app.picker.share.embed
        - lucidspark.document.app.picker.share.embed
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                embedId:
                  type: string
                  format: uuid
                  description: ID of the document embed. This is needed for viewing an existing embed.
                origin:
                  type: string
                  description: The URL (including protocol) of the webpage that will host the embed. Must
                    use the `https://` scheme (e.g., `https://example.com`, `http://localhost`).
                  example: https://example.com
                sessionConfig:
                  $ref: '#/components/schemas/SessionConfig'
              required:
              - origin
      responses:
        '200':
          description: Valid token that can be used to embed a document picker or a document viewer.
          content:
            application/jwt:
              schema:
                type: string
        '400':
          description: Bad Request. Occurs when `origin` is missing a protocol, uses an unsupported scheme,
            or is not a valid URL.
        '401':
          description: Access token is missing or invalid.
        '403':
          description: Access to the embed is forbidden.
        '404':
          description: The embed id in the parameter is not found.
  /v1/folders/{id}:
    get:
      summary: Get Folder
      description: Retrieves information about the requested folder.
      operationId: getFolder
      tags:
      - Folders
      security:
      - ApiKey:
        - FolderReadonly
      - OAuth2:
        - folder:readonly
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
        description: ID of the folder to be retrieved.
      responses:
        '200':
          description: OK with a Folder resource containing information about the requested folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '403':
          description: Forbidden if the app making the request does not have permission to the folder,
            or if the folder has been deleted (trashed is okay) or does not exist.
    patch:
      summary: Update Folder
      description: 'Allows the requester to modify certain fields on a folder.


        When updating the parent field, the folder moves to the new parent location while its contents
        remain intact. The requesting user must have both edit and share access to both the old and new
        parent folders, or the entire update will fail.


        It is not permitted to update the parent field on Team Folders. Moving folders into or out of
        Team Folders may encounter permission-related errors, but once a folder is within a Team Folder,
        reorganization among descendants within that Team Folder can proceed without permission issues.

        '
      operationId: updateFolder
      tags:
      - Folders
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: number
        description: ID of the folder to be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: New name for the folder being updated.
                parent:
                  type: number
                  nullable: true
                  description: New parent for the folder being updated. Causes the folder to be moved
                    into another folder if an ID is provided or into the user's root folder ("My Documents")
                    if `null` is provided. If the parent field is not included in the request, the folder
                    will not be moved. Cannot be provided for Team Folders.
      responses:
        '200':
          description: OK with a Folder resource containing information about the updated folder.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          description: Bad Request if the parent field is included in a request for a team folder, or
            if invalid input types are provided for id, name, or parent.
        '403':
          description: Forbidden if the app making the request does not have permission to the folder,
            the folder has been deleted or does not exist, or the request was not authorized to move the
            folder.
  /v1/folders:
    post:
      summary: Create Folder
      description: Creates a new folder.
      operationId: createFolder
      tags:
      - Folders
      security:
      - ApiKey:
        - FolderEdit
      - OAuth2:
        - folder
        - lucidchart.document.app.folder
        - lucidspark.document.app.folder
        - lucidscale.document.app.folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the folder being created.
                type:
                  $ref: '#/components/schemas/FolderType'
                parent:
                  nullable: true
                  description: Destination folder or repository to create the new folder in. For repositories,
                    use the repository ID prefixed with `repo_` (e.g., `repo_12345`). For folders, use
                    the numeric folder ID. If it is not provided, the folder will be created in the root
                    of the user's folder manager ("My Documents"). Ignored when `appFolder` is set to
                    `true`.
                  oneOf:
                  - type: integer
                    description: Numeric folder ID.
                  - type: string
                    description: Repository ID prefixed with `repo_`.
                  example: 12345
                appFolder:
                  type: boolean
                  description: 'When set to `true`, the folder is created inside the OAuth2 client''s
                    app project folder, overriding the `parent` field. Required when using a `document.app.folder`
                    scope without a `folder` scope.

                    '
              required:
              - name
              - type
      responses:
        '201':
          description: Created with a Folder resource containing information about the newly created folder.
          content:
            application/json:
[...]
